.button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  outline: none;
  padding: 0.8em 1em 0.8em 1em;
  background-color: #9e9e9e;
}

.button:hover {
  cursor: pointer;
  background-color: rgb(187, 187, 187);
}
