.tuner {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
}

.tuner_note {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2em;
  width: 3em;
  font-size: large;
  color: black;
}

.tuner_note.tune {
  color: green;
}

.tuner_note.not_tune {
  color: red;
}

.tuner_indicator__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 18em;
  height: 2em;
  border-top: 2px solid black;
  position: relative;
}

.tuner_indicator {
  position: absolute;
  top: 0;
  left: 50%;
}
